@page
@model CheckoutModel

@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization
@using Microsoft.AspNetCore.Http.Features


@inject IViewLocalizer Localizer

@{
    var uiCulture = HttpContext.Features.Get<IRequestCultureFeature>().RequestCulture.UICulture;
}

@{
    ViewData["Title"] = "Checkout Complete";
}
<section class="esh-catalog-hero">
    <div class="container">
        <img class="esh-catalog-title" src="~/images/main_banner_text.png" />
    </div>
</section>

<div class="container">
    <h1>@Localizer["Thanks for your Order!"]</h1>

    <a asp-page="/Index">@Localizer["Continue Shopping..."]</a>
</div>
